DB_HOST=dpg-d36ihvadbo4c73drlcng-a.frankfurt-postgres.render.com
DB_NAME=tripulacionchallenge
DB_PORT=5432
DB_USER=tripulacionchallenge_user
DB_PASSWORD=vHIZ4gyELvJdH48Qc00YTcEeAElk7wsL
JWT_SECRET=your_jwt_secret_key
JWT_REFRESH_SECRET=your_jwt_refresh_secret_key