@use '../utils/variables.scss' as vars;

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden; // <-- Esto previene el scroll horizontal
  font-family: vars.$font-stack;
  color: vars.$color-bg;
  font-size: 16px; // Tamaño de fuente base
  line-height: 1.6; // Espaciado entre líneas
  box-sizing: border-box; // Asegura que el padding y border se incluyan en el ancho y alto de los elementos
}


body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#root {
  flex: 1;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.footer {
  margin-top: auto; // lo empuja abajo
}

*, *::before, *::after {
  box-sizing: inherit;
}
